// Custom styles.
// Custom styles.
/*首页文章阴影样式*/
body {
    // background-color: #fff;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-attachment: fixed;
    // opacity: 0.9;
}
.pace-done {
  // background-image: url('http://oct3pmpde.bkt.clouddn.com/wall-303.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.content-wrap {
  // background: transparent;
  // background: #d2edf4;
  // background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
}
// .post {
//   margin-bottom: 100px;
//   padding: 25px;
//   -webkit-box-shadow: 0 0 14px rgba(202,203,203,1);
//   -moz-box-shadow: 0 0 14px rgba(202,203,204,1);
//   background: #fff;
// }
.footer {
  position: static;
  color: #fff;
}

/*头像改为圆形，hover转动*/
.site-author-image {
  display: block;
  margin: 15px auto;
  /*padding: $site-author-image-padding;*/
  /*
  border: $site-author-image-border-width solid $site-author-image-border-color;
  */
  border-radius:50%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.site-author-image:hover{
  -webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);
  -moz-box-shadow:0 0 10px rgba(0,0,0,0.5);
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  webkit-transform: rotate(360deg) scale(1.1);
  moz-transform: rotate(360deg) scale(1.1);
  ms-transform: rotate(360deg) scale(1.1);
  transform: rotate(360deg) scale(1.1);

}
@media (max-width: 767px) {
  .posts-expand {
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .wangyaxingGit {
    display: none;
  }
}
.headband{
  height: 0;
}
 .fa-heart {
   color: #ff1700;
 }
 .fa-image {
   color: pink;
 }
 .fa-tags {
   color: purple;
 }
 .fa-archive {
   color: orange;
 }
 .fa-th {
   color: green;;
 }
 .fa-home {
   color: #4099e5;
 }
//  修改header的背景色及字体颜色
 .site-brand-wrapper {
  //  background-color: #FFD39B;
   background: #d2edf4;
   background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
 }
 .site-meta {
   background: #d2edf4;
   background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
 }
 .site-title {
   color: #315481;
 }
 .site-subtitle {
   color: green;
 }
//  相册的样式
 #selfPhoto .fancybox img{
    background: #fff;
    display: inline-block !important;
    float: left;
    margin: 15px;
    padding: 5px;
    -webkit-box-shadow:none;
    width: 260px;
    border-radius: 5px;
    
}
//  .posts-expand .post-body img {
//    border: 0 !important;
//    }
// 相册样式需要清除浮动
#selfPhoto .clear:before {
  display: block;
  clear: both;
  content: '';
}
// 评论列表的样式
.comments{
  -webkit-box-shadow: 0 0 14px rgba(202,203,203,1);
  -moz-box-shadow: 0 0 14px rgba(202,203,204,1);
  background: #fff;
  padding: 25px;
  margin-bottom: 100px;
}
// 修改li list-style
.posts-expand .post-body ul li {
  list-style: disc;
}
